<h1>Jadwal Pertandingan MPL Season 8</h1>
<table class="table table-dark">
    <thead>
        <th scope="col"><h2>Tanggal</h2></th>
        <th scope="col"><h2>TEAM</h2></th>
        <th scope="col"><h2>ENEMY</h2></th>
        <th scope="col"><h2>SCORE</h2></th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">21-10-2021</th>
            <td><h4>RRQ</h4></td>
            <td><h4>ONIC</h4></td>
            <td><h4>13.00 WIB</h4></td>
          </tr>
          <tr>
            <th scope="row">21-10-2021</th>
            <td><h4>ONIC</h4></td>
            <td><h4>EVOS</h4></td>
            <td><h4>18.30 WIB</h4></td>
          </tr>
          <tr>
            <th scope="row">22-10-2021</th>
            <td><h4>ALTER EGO</h4></td>
            <td><h4>EVOS</h4></td>
            <td><h4>13.00 WIB</h4></td>
          </tr>
    </tbody>
  </table>