<h1>Halaman Leaderboard MPL Season 8</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><h2>RANKING</h2></th>
        <th scope="col"><h2>TEAM</h2></th>
        <th scope="col"><h2>ENEMY</h2></th>
        <th scope="col"><h2>SCORE</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><h1>1</h1></th>
        <td><h4>RRQ</h4></td>
        <td><h4>ONIC</h4></td>
        <td><h4>3 - 4</h4></td>
      </tr>
      <tr>
        <th scope="row"><h1>2</h1></th>
        <td><h4>ONIC</h4></td>
        <td><h4>EVOS</h4></td>
        <td><h4>3 - 0</h4></td>
      </tr>
      <tr>
        <th scope="row"><h1>3</h1></th>
        <td><h4>ALTER EGO</h4></td>
        <td><h4>EVOS</h4></td>
        <td><h4>0 - 3</h4></td>
      </tr>
    </tbody>
  </table>